# macOS / Windows
.DS_Store
__MACOSX/
Thumbs.db
desktop.ini

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager / CocoaPods
.build/
.swiftpm/
Pods/

# Secrets / env (just in case)
.env
*.pem
*.p12
GoogleService-Info.plist

# Archives
*.zip
